.filter-widget{
  height: 800px;
  background: white;

  h5{
    padding: 15px;
    margin: 0;
  }
  hr{
    margin: 0;
  }
  .product-type{
    padding: 15px;

    input{
      margin: 7px;
    }
  }
}